.custBtn {
    margin: 0.5rem;
    min-width: 15rem;
    min-height: 13rem;
}



@media(max-width: 780px){
    .custBtn {
        margin: 0.25rem;
        min-width: 12rem;
        min-height: 9rem;
    }
}

@media(max-width: 450px){
    .custBtn {
        margin: 0.25rem;
        min-width: 10rem;
        min-height: 7rem;
    }
}

@media(max-width: 360px){
    .custBtn {
        margin: 0.20rem;
        min-width: 9.5rem;
        min-height: 6rem;
    }
}